.side-menu {
    width: 200px;
    background-color: #dbdbdb;
    padding-top: 5%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
  }
  
  .side-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .side-menu ul li {
    margin-bottom: 10px;
  }
  
  .side-menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .side-menu ul li a:hover {
    background-color: #ddd;
  }
  
  .side-menu ul li.active a {
    background-color: #007bff;
    color: white;
  }
  
  @media (max-width: 768px) {
    .side-menu {
      width: 100%;
      height: auto;
      position: relative;
      padding-top: 20px;
    }
  
    .side-menu ul {
      display: flex;
      justify-content: space-around;
    }
  
    .side-menu ul li {
      margin-bottom: 0;
    }
  }
  